 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>I principaly design on Adobe tools, but sometine i work with Sketch, Framer X.
        I like discover new way for design</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>I have start with Java for Android apps, now i can develop for IOS too with Swift.
        I code on React for multi plateform application</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-apple-original colored"></i>
      <p>Visual Studio Code is my favortie tools for develop, i always use Git.
        I work on MacOS for coding tools and productivity apps</p>
    </div>
</div>
